<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <joint name="imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin xyz=".5 0 0" rpy="0 0 0"/>
    </joint>

    <link name="imu_link">
      <child link="imu_sensor"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <visual>
        <geometry>
          <box size="0.05 0.05 0.02"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="0.05 0.05 0.02"/>
        </geometry>
      </collision>
    </link>

</robot>